
@media (max-width: 396px){
.navbar-brand {
font-size:15px;
}}
@media (min-width: 576px){
.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}}
@media (min-width: 1000px){
.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}}
.card-img-top {
    height: 300px;}
.home{
width: 100%;
min-height: 100%;
height: auto;
background-color: #f5f5f5;
position: absolute;
padding-top:100px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.home .row{
margin: 0px;
}
.borda{
border-width:1px; border-color:black; border-style:inset; height:30px;

}
.card {
width: 20rem;
margin-left: auto;
margin-right: auto;
}
.peb{
filter:grayscale(100%);	
}
.disabledevents{
pointer-events: none;
cursor: default;
text-decoration: none;
}
.starok{
color:orange;
}
.danone{
	display: none!important;
}

